---
- name: Backup running configs
  hosts: all
  gather_facts: false
  vars:
    backup_dir: "backups/{{ inventory_hostname }}"
  tasks:
    - name: Ensure backup dir exists
      ansible.builtin.file:
        path: "{{ backup_dir }}"
        state: directory
        mode: "0755"

    - name: Get running-config
      ansible.netcommon.cli_command:
        command: "export show-sensitive"
      register: cfg

    - name: Save config to file
      ansible.builtin.copy:
        content: "{{ cfg.stdout }}\n"
        dest: "{{ backup_dir }}/running-config-{{ lookup('pipe','date +%F_%H%M%S') }}.txt"
        mode: "0644"
