---
- name: Check MikroTik RouterOS Configs
  hosts: mikrotik
  gather_facts: false

  tasks:
    - name: Gather system resources
      community.routeros.command:
        commands:
          - /system resource print
      register: system_resource_print

    - name: Show system resources
      debug:
        var: system_resource_print.stdout_lines